<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.buildingrecognition">

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".base.BaseApplication"
            android:allowBackup="true"
            android:icon="@mipmap/logo"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/net_work_security_config"
            android:roundIcon="@mipmap/logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".buildinglist.BuildingListActivity"
                android:theme="@style/DetailTheme">
        </activity>
        <activity android:name=".buildingdetail.BuildingDetailActivity"
                  android:theme="@style/DetailTheme">
        </activity>
        <activity android:name=".recognition.RecognitionActivity">
        </activity>
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>